* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #6494ed;
}

main{
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clock {
    width: 600px;
    height: 600px;
    background-color: #f0f8ff;
    border-radius: 600px;
    border: 15px groove #333;
}

.number{
    font-size: 1.2rem;
    font-weight: 600;
    background-color: #ffe4c4;
}


